#Title {
    font-size: 10vw;
    background-color: #295cc2;
    color: #FFA500;
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Black Ops One', sans-serif;
    flex-direction: column;
}
.cert-image{
    width: 25vw;
    border: 5px solid black;
    box-shadow: 
    0 0 20px 15px rgb(0, 0, 136);
    -webkit-user-drag: none; /* For Safari/Chrome */
    user-drag: none; /* Standard */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari/Chrome */
    user-select: none; /* Standard */
}
#Transition {
    height: 25vh;
    width: 100%;
    background: linear-gradient(to bottom, #295cc2, #000);
}
body {
    margin: 0;
    background-color: black;
    color:white;
    height: 100vh;
    user-select: none;
}
#scroll {
    height: 20000vh;
}
.content-title {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'zen dots', sans-serif;   
}
@media (max-width: 1300px) {
    #Title, #Transition, .content-title {
        height: 17.5vh;
    }
    .cert-image{
        width:66vw;
    }
    .cert-container{
        flex-direction: column;
    }
}
@media (max-width: 700px) {
    #Title, #Transition, .content-title {
        height: 10vh; 
    }
}
#content-box {
    width: 75vw;
    border: 3px solid white;
    border-image: linear-gradient(to bottom right, #8B0000, #1e52bb) 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 1px 23px;
    margin: 20px auto;
    font-family: Verdana, sans-serif;
    line-height: 1.5;
}
#menu-selectors {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'zen dots', sans-serif;
    background-color: #295cc2;
    margin: 0;
    color:white;
    display: flex;
    gap: 5vw;

}
html {
    scroll-behavior: smooth;
}
#clear-link-format a {
    text-decoration: none; /* Removes underline */
    color: yellow;
    cursor: pointer;
    display: inline-block;
}

#clear-link-format a:hover {
    color: orange; /* Optional hover effect */
}
.cert-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5vw; 
    flex-wrap: wrap;
}